.logo {
  background: url('../../images/wunder-hub.svg') 0 0 no-repeat;
  background-size: 100% auto;
  height: 0;
  display: block;
  padding-bottom: 52.2157996%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
